/* Stylesheet for Album Page */

div h2, h3, h4 {
    line-height: 0px;
}

h2, h3 {
    font-family: 'Impact';
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.background {
    background-image: url("https://upload.wikimedia.org/wikipedia/en/9/9c/Page_Avenue.jpg"); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

li {
    font-style: italic;
}