/* Stylesheet for LAN Cafe */

h1 {
    text-align: center; 
    font-family: 'Lucida Handwriting';
 }

 nav {
     list-style-type: none;
     margin-left: 15px;
     padding: 0;
     text-align: left;
     margin-top: 15px;
     margin-bottom: 15px;
 }

 nav li {
     display: inline;
     padding-right: 40px;
 }

 nav li:visited {
     color: green;
 }

 nav li:hover {
     font-weight: bold;
 }

 nav li:active {
     text-decoration: none;
 }

 .menu {
     background-color: beige;
     text-align: center;
 }
 
 .container-fluid {
     background-color: beige;
 }

.drinks table, th, td {
    padding-right: 30px;
    padding-bottom: 5px;
}

.drinks h2 {
    text-decoration: underline;
    text-align: left;
}

.drinks td {
    text-align: left;
}

 label {
    font-weight: bold;
 }

.carousel p {
    text-align: center;
    font-weight: bold;
    font-family: 'Impact';
    vertical-align: center;
    font-size: 24px;
}

 footer {
    text-align: center;
}