/* Stylesheet for LAN Cafe */

h1 {
    text-align: center; 
    font-family: 'Lucida Handwriting';
 }

 nav {
     list-style-type: none;
     margin-left: 15px;
     padding: 0;
     text-align: left;
     margin-top: 15px;
     margin-bottom: 15px;
 }

 nav li {
     display: inline;
     padding-right: 40px;
 }

 .menu {
     background-color: beige;
 }
 
 .content {
     background-color: beige;
 }

 label {
    font-weight: bold;
 }

 footer {
    text-align: center;
}